#banner {
    background: #b0c4de;
    padding: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: #4682b4;
    text-align: cneter;

    img {
        float: left;
    }
}

#notice {
    color: #000 !important;
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
}

#columns {
    background: #d3d3d3;

    #main {
        margin-left: 17em;
        padding: 1em;
        background: white;
    }

    #side {
        float: left;
        padding: 1em 2em;
        width: 13em;
        background: #d3d3d3;

        form, div {
            display: inline;
        }

        input {
            font-size: small;
        }
        ul {
            padding: 0;

            li {
                list-style: none;

                a {
                    color: #696969;
                    font-size: small;
                }
            }
        }
    }
}